@import '../../assets/css/color-theme.scss';

.content-item {
    background-color: #fff;
    display: flex;
    padding: 32px;
    justify-content: space-between;
    .col-left {
        width: 70%;
        .description-item {
            margin-top: 32px;
            .title {
                margin: 0px;
                font-size: 28px;
                color: $dark-principal;
            }
            .description {
                font-size: 16px;
                color: $dark-tertiary;
                white-space:pre-line;
                text-align: justify;
            }
        }
    }
    .col-right {
        width: 25%;
        .condition-item {
            font-size: 14px;
            color: $dark-secondary;
            margin: 0px 0px 16px 0px;
        }
        .title-item {
            font-size: 24px;
            color: $dark-principal;
            font-weight: 600;
            margin: 0px;
        }
        .price-title {
            color: $dark-principal;
            margin: 32px 0px;
            position: relative;
            .price{
                font-size: 46px;
            }
            .decimals{
                position: absolute;
                font-size: 28px;
                margin: 5px;
            }
        }
        .btn-shop {
            background-color: $blue-primary;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
            padding: 10px;
            width: 100%;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}
.carousel-root {
    display: flex;
    flex-direction: row-reverse;
}
.carousel {
    width: auto !important;
}
.carousel .control-arrow {
    display: none;
}
.carousel .slide img {
    width: auto !important;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
}
.thumbs {
    padding: 0px;
    display: contents;
}
.thumb {
    height: 60px !important;
    display: flex !important;
    width: 60px !important;
    border: 1px solid #ccc !important;
    text-align: center !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 6px !important;
    img {
        width: auto;
        display: flex !important;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.carousel .thumbs-wrapper {
    margin: 0px !important;
    margin-top: 20px !important;
}
.carousel .thumb.selected, .carousel .thumb:hover {
    border: 2px solid #3483fa !important;
}